/* @import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

html {
  overflow: hidden;
}

.container {
  padding-left: 0 !important;
}

.mapboxgl-popup-content {
  padding: 0 !important;
} */
